body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.428571429;
		color: #000;
	}
	
	html {
		font-size: 10px;
		-webkit-tap-highlight-color: transparent;
		overflow: hidden;
	}
	
	html,
	body {
		margin: 0;
		padding: 0;
		background: linear-gradient(-190deg, #4A4EA4 65%, #E884A1);
		height: 100vh;
	}
	.logo_img{
		width: 100px;
		height: 100px;
	}
	*,
	 :after,
	 :before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.page-sign-container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
		background: #fff;
		width: 447px;
		border: 1px solid #e1e1e1;
		color: #787878;
		border-radius: 5px;
	}
	
	.page-sign-container .signin-header {
		margin-top: 20px;
		text-align: center;
	}
	
	.page-sign-container .logo {
		height: 87px;
		width: 97px;
		margin: 0 auto;
		background-size: 100% 100%;
	}
	
	.page-sign-container .forgot-password-body,
	.page-sign-container .reset-password-body,
	.page-sign-container .signin-body,
	.page-sign-container .signup-body {
		padding: 20px 0;
	}
	
	.page-sign-container .container {
		width: 100%;
	}
	
	@media (min-width: 1200px) .container {
		width: 1170px;
	}
	
	@media (min-width: 992px) .container {
		width: 970px;
	}
	
	@media (min-width: 768px) .container {
		width: 750px;
	}
	
	.container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.container:after,
	.container:before {
		content: " ";
		display: table;
	}
	
	
	.page-sign-container .additional-info p {
		margin-bottom: 0;
	}
	
	.page-sign-container .additional-link {
		display: inline-block;
	}
	
	.page-sign-container .additional-link-right {
		float: right;
	}
	
	.container:after {
		clear: both;
	}
	
	.container:after,
	.container:before {
		content: " ";
		display: table;
	}